#root {
  margin: 0 auto;
  color: white;
}

nav {
  background-color: black;
  height: 6rem;
  display: flex;
  flex-direction: row;
}

nav > div {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: flex 15s;
  transition: box-shadow 0.25s;
}

@keyframes flicker {
  0% {
    opacity: 1;
    }
    5% {
    opacity: 1;
    }
    10% {
    opacity: 0.6;
    }
    15% {
    opacity: 0.85;
    }
    25% {
    opacity: 0.5;
    }
    30% {
    opacity: 1;
    }
    35% {
    opacity: 1;
    }
    40% {
    opacity: 1;
    }
    45% {
    opacity: 1;
    }
    60% {
    opacity: 1;
    }
    70% {
    opacity: 1;
    }
    80% {
    opacity: 1;
    }
    90% {
    opacity: 1;
    }
    100% {
    opacity: 1;
    }
}

nav > div:hover {
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 5px #FCA311);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation: flicker 4s linear infinite;
}

/*************************/

.showcase-cont {
  background-color: black;
  margin-top: 80px;
  padding-top: 20vh;
  height: 60vh;
}

.showcase-title {
  font-weight: bold;
  font-size: 132px;
  color: #E5E5E5;
}

.showcase-desc {
  padding-left: 40px;
}